/* VARIABLES --------------------------------------- */
/* SYMANTIC STUFF --------------------------------------- */
nav {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

article {
  margin-top: 1em; }

footer {
  margin-top: 1em;
  height: 100%; }

.container-screen {
  min-height: 100vh; }

#subnav {
  height: 3em;
  background-color: #333333; }

/* TYPOGRAPHY --------------------------------------- */
h1 {
  font-size: 1.25em;
  font-family: 'acherusgrotesque-extrabold';
  line-height: .9em; }

h2 {
  font-size: 1.25em;
  font-family: 'acherusgrotesque-extrabold';
  letter-spacing: .25em; }

h3 {
  font-size: 1.75em;
  font-family: 'acherusgrotesque-extrabold'; }

h5 {
  font-size: .7em;
  font-family: 'acherusgrotesque-regular';
  line-height: .4em; }

p {
  font-family: acherusgrotesque-regular, sans-serif;
  font-size: 1em;
  line-height: 1.9em; }

/* TITLE SQUARE --------------------------------------- */
.recent-work {
  padding: .5em;
  float: left; }
  .recent-work h2 {
    padding: 0; }
  .recent-work ul {
    padding: 0; }
  .recent-work a {
    padding: 0;
    position: relative; }
  .recent-work h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .5em;
    color: white;
    line-height: 1em; }

.title-square-1 {
  background-color: #ff6371;
  height: 100%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0; }
  .title-square-1 h3 {
    color: white;
    padding: .5em;
    line-height: 1.25em;
    font-size: 1.25em; }
  .title-square-1 h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .5em;
    color: white;
    line-height: 1em; }

.title-square-2 {
  background-color: #333333;
  height: 100%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  top: 0; }
  .title-square-2 h3 {
    color: white;
    padding: .5em;
    line-height: 1.25em;
    font-size: 1.25em; }
  .title-square-2 h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .5em;
    color: white;
    line-height: 1em; }

.title-square-3 {
  background-color: #005489;
  height: 100%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  top: 0; }
  .title-square-3 h3 {
    color: white;
    padding: .5em;
    line-height: 1.25em;
    font-size: 1.25em; }
  .title-square-3 h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .5em;
    color: white;
    line-height: 1em; }

a:hover .title-square-1 {
  opacity: 1; }
a:hover .title-square-2 {
  opacity: 1; }
a:hover .title-square-3 {
  opacity: 1; }

/* NAVIGATION --------------------------------------- */
nav a {
  text-align: left; }
nav .active a {
  font-weight: bold; }

.navbar {
  background-color: white !important; }

.navbar-toggler {
  border: none !important; }

.subnav {
  border-top: 4px solid #333333;
  height: 0;
  margin-top: 0; }

/* HOME --------------------------------------- */
.recent-work h2 {
  text-transform: uppercase; }
.recent-work ul {
  list-style: none; }
  .recent-work ul li {
    float: left;
    padding: .25em; }

article {
  float: left; }
  article h2 {
    margin-top: .8em;
    margin-bottom: .8em; }

/* HOME --------------------------------------- */
.portfolio-items {
  margin-top: .75em; }

/* FOOTER --------------------------------------- */
footer ul {
  list-style: none; }
footer li {
  float: left; }
  footer li img {
    width: 2.5em;
    height: auto; }

/* MEDIA 567px */
@media (min-width: 567px) {
  nav ul {
    margin-top: 3em; }
  nav li {
    width: 40%; }
    nav li a {
      text-align: center; }
  nav .active a {
    background-color: #333333;
    color: white !important;
    font-weight: bold; }

  ul {
    list-style: none; }
    ul li {
      float: left; }

  li:nth-child(2) {
    padding-right: .25em; }

  li:nth-child(3) {
    padding-left: .25em; }

  .recent-work h2 {
    padding-top: .75em;
    padding-left: .5em; }
  .recent-work ul {
    padding: inherit; } }
@media (min-width: 992px) {
  p {
    font-size: 1.1em; } }
@media (min-width: 1200px) {
  .recent-work {
    float: right;
    padding-top: 0; } }
.container-mixitup ul {
  width: 100%;
  overflow: hidden; }
.container-mixitup ul li {
  padding: .25em;
  position: relative; }
.container-mixitup .containMix .mix {
  display: none; }

/*# sourceMappingURL=style.css.map */
