
/* VARIABLES --------------------------------------- */
$dark-grey: #333333;
$pink: #ff6371;
$blue: #005489;

/* SYMANTIC STUFF --------------------------------------- */
nav{
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}
article{
  margin-top: 1em;
}
footer{
  margin-top: 1em;
}

/* TYPOGRAPHY --------------------------------------- */
h1{
  font-size: 1.5em;
  font-family: 'acherusgrotesque-extrabold';
  line-height: .9em;
}

h2{
  font-size: 1.75em;
  font-family: 'acherusgrotesque-extrabold';
}

h3{
  font-size: 1.75em;
  font-family: 'acherusgrotesque-extrabold';
}

h5{
  font-size: .7em;
  font-family: 'acherusgrotesque-regular';
  line-height: .4em;
}

p{
  font-family: acherusgrotesque-regular, sans-serif;
  font-size: 1em;
  line-height: 1.9em;
}

/* TITLE SQUARE --------------------------------------- */
.recent-work{
a{
  padding: 0;
  position: relative;
}

h5{
  font-size: 1em;
  font-family: 'acherusgrotesque-regular';
  padding-left: .5em;
  color: white;
  line-height: 1em;
}
.title-square-1{
  background-color: $pink;
  height: 100%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  h3{
    color: white;
    padding: .5em;
    line-height: 1.25em;
    font-size: 1.25em;
  }
}

.title-square-2{
  background-color: $dark-grey;
  height: 100%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  top: 0;
  h3{
    color: white;
    padding: .5em;
    line-height: 1.25em;
    font-size: 1.25em;
  }
}

.title-square-3{
  background-color: $blue;
  height: 100%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  top: 0;
  h3{
    color: white;
    padding: .5em;
    line-height: 1.25em;
    font-size: 1.25em;
  }
}
}

a:hover{

  .title-square-1{
    opacity: 1;
}
.title-square-2{
  opacity: 1;
}
.title-square-3{
  opacity: 1;
}
}

/* NAVIGATION --------------------------------------- */
nav{

    a{
      text-align: left;
  }
  .active a{
    font-weight: bold;
  }
}
.navbar{
  background-color: white !important;
}
.navbar-toggler{
  border: none !important;
}
.subnav{
  border-top: 4px solid $dark-grey;
  height: 0;
}

/* HOME --------------------------------------- */

.recent-work{
  h2{
    padding-top: 1em;
    text-transform: uppercase;
  }
  ul{
    list-style: none;
    li{
      float: left;
        padding: .25em;
    }
}
}

/* FOOTER --------------------------------------- */
footer{
  ul{
    list-style: none;
  }
  li{
    float: left;
    img{
      width: 2.5em;
      height: auto;
    }
  }
}

/* MEDIA 567px */

@media (min-width: 567px){
  nav{
    ul{
      margin-top: 3em;
    }
  li{
    width: 40%;
    a{
      text-align: center;
    }
  }
  .active a{
    background-color: $dark-grey;
    color: white !important;
    font-weight: bold;
  }
}

ul{
  list-style: none;
  li{
    float: left;
    padding-bottom: .5em;
  }
}
li:nth-child(2){
padding-right: .25em;
}
li:nth-child(3){
padding-left: .25em;
}

}
