/* VARIABLES --------------------------------------- */
/* SYMANTIC STUFF --------------------------------------- */
nav {
  margin-bottom: 0em !important;
  padding-bottom: 0 !important; }

footer {
  margin-top: 1em;
  height: 100%; }

.container-screen {
  min-height: 100vh; }

#subnav {
  margin-top: .25em;
  height: 3em;
  background-color: #333333; }

/* TYPOGRAPHY --------------------------------------- */
h1 {
  font-size: 1.25em;
  font-family: 'acherusgrotesque-extrabold';
  line-height: .9em; }

h2 {
  font-size: 1.25em;
  font-family: 'acherusgrotesque-extrabold';
  letter-spacing: .25em;
  margin: 0; }

h3 {
  font-size: 1.75em;
  font-family: 'acherusgrotesque-extrabold'; }

h5 {
  font-size: .7em;
  font-family: 'acherusgrotesque-regular';
  line-height: .4em; }

p {
  font-family: acherusgrotesque-regular, sans-serif;
  font-size: 1em;
  line-height: 1.9em; }

/* TITLE SQUARE --------------------------------------- */
.recent-work {
  padding: .5em;
  float: left; }
  .recent-work h2 {
    padding: 0; }
  .recent-work ul {
    padding: 0; }
  .recent-work li {
    position: relative; }
  .recent-work a {
    padding: 0;
    height: 100%;
    width: 100%; }
  .recent-work .title-square-1 {
    background-color: #ff6371;
    height: 97.75%;
    z-index: 10;
    float: left;
    position: absolute;
    opacity: 0;
    width: 97.75%; }
    .recent-work .title-square-1 h3 {
      color: white;
      margin-top: .5em;
      padding: .1em;
      line-height: 1em;
      font-size: 1.25em; }
    .recent-work .title-square-1 h5 {
      font-size: 1em;
      font-family: 'acherusgrotesque-regular';
      padding-left: .5em;
      color: white;
      line-height: 1em; }
    .recent-work .title-square-1 a {
      height: 100%;
      width: 100%;
      text-decoration: none; }
  .recent-work .title-square-2 {
    background-color: #333333;
    height: 97.75%;
    width: 97.75%;
    z-index: 10;
    float: left;
    position: absolute;
    opacity: 0; }
    .recent-work .title-square-2 h3 {
      color: white;
      margin-top: .5em;
      padding-left: .5em;
      line-height: 1em;
      font-size: 1.25em; }
    .recent-work .title-square-2 h5 {
      font-size: 1em;
      font-family: 'acherusgrotesque-regular';
      padding-left: 1em;
      color: white;
      line-height: 1em; }
    .recent-work .title-square-2 a {
      height: 100%;
      width: 100%;
      text-decoration: none; }
  .recent-work .title-square-3 {
    background-color: #005489;
    height: 97.75%;
    width: 97.75%;
    z-index: 10;
    float: left;
    position: absolute;
    opacity: 0; }
    .recent-work .title-square-3 h3 {
      color: white;
      margin-top: .5em;
      padding: .5em;
      line-height: 1em;
      font-size: 1.25em; }
    .recent-work .title-square-3 h5 {
      font-size: 1em;
      font-family: 'acherusgrotesque-regular';
      padding-left: 1em;
      color: white;
      line-height: 1em; }
    .recent-work .title-square-3 a {
      height: 100%;
      width: 100%;
      text-decoration: none; }
  .recent-work li:hover .title-square-1 {
    opacity: 1; }
  .recent-work li:hover .title-square-2 {
    opacity: 1; }
  .recent-work li:hover .title-square-3 {
    opacity: 1; }

/* PORTFOLIO PAGE  --------------------------------------- */
.portfolio-h2 {
  letter-spacing: normal;
  font-size: 2em; }

.title-square-1 {
  background-color: #ff6371;
  height: 97.5%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  width: 97.5%; }
  .title-square-1 h3 {
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.25em; }
  .title-square-1 h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .25em;
    color: white;
    line-height: 1em; }
  .title-square-1 a {
    height: 100%;
    width: 100%;
    text-decoration: none; }

.title-square-2 {
  background-color: #333333;
  height: 97.5%;
  width: 97.5%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0; }
  .title-square-2 h3 {
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.5em; }
  .title-square-2 h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .25em;
    color: white;
    line-height: 1em; }
  .title-square-2 a {
    height: 100%;
    width: 100%;
    text-decoration: none; }

.title-square-3 {
  background-color: #005489;
  height: 97.5%;
  width: 97.5%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0; }
  .title-square-3 h3 {
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.5em; }
  .title-square-3 h5 {
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .25em;
    color: white;
    line-height: 1em; }
  .title-square-3 a {
    height: 100%;
    width: 100%;
    text-decoration: none; }

li:hover .title-square-1 {
  opacity: 1; }
li:hover .title-square-2 {
  opacity: 1; }
li:hover .title-square-3 {
  opacity: 1; }

.image-container {
  margin-top: 1em;
  margin-bottom: 1em; }

.video-container {
  overflow: hidden;
  height: 100%; }

/* COLOR PALETTES --------------------------------------- */
.color-palette {
  height: 2em;
  width: 2em;
  border-radius: 2em;
  float: left;
  margin-top: 1em;
  margin-right: 1em; }

/* TEA */
#tea-grey {
  background-color: #333333; }

#tea-light-grey {
  background-color: #b4b4b4; }

#tea-blue {
  background-color: #0176b6; }

#tea-light-blue {
  background-color: #7ea1cf; }

#tea-green {
  background-color: #099e49; }

#tea-light-green {
  background-color: #a6cba3; }

#tea-orange {
  background-color: #f68720; }

#tea-light-orange {
  background-color: #fcbd85; }

#tea-red {
  background-color: #d63927; }

#tea-light-read {
  background-color: #e69274; }

/* NAVIGATION --------------------------------------- */
nav a {
  text-align: left; }
nav .active a {
  font-weight: bold; }

.navbar {
  background-color: white !important; }

.navbar-toggler {
  border: none !important; }

.subnav {
  border-top: 4px solid #333333;
  margin-top: 0; }

.subnav li {
  text-align: left;
  list-style: none;
  float: left;
  margin-right: .5em; }
.subnav a {
  color: white;
  text-decoration: none; }
.subnav a:hover {
  opacity: .75; }

.genre-indicator {
  border: 2px solid white;
  height: 1em;
  width: 1em;
  float: left;
  margin: .25em;
  border-radius: .75em; }

#branding {
  background-color: #333333; }

#web {
  background-color: #005489; }

#animation {
  background-color: #ff6371; }

/* HOME --------------------------------------- */
.recent-work h2 {
  text-transform: uppercase; }
.recent-work ul {
  list-style: none; }
  .recent-work ul li {
    float: left;
    padding: .25em; }

article {
  float: left; }
  article h2 {
    margin-top: .8em; }

/* HOME --------------------------------------- */
.portfolio-items {
  margin-top: .75em;
  list-style: none; }

.portfolio-items li:nth-child(3) {
  float: right !important; }

.portfolio-items li:nth-child(5) {
  float: right !important; }

.portfolio-items li:nth-child(6) {
  float: right !important; }

.portfolio-items li:nth-child(7) {
  float: right !important; }

.portfolio-items li:nth-child(8) {
  float: left !important; }

.portfolio-items li:nth-child(9) {
  float: right !important; }

/* INDIVIDUAL-PIECE --------------------------------------- */
.title {
  margin-top: 1em !important; }

.photo-container {
  margin-top: 2em; }

/* FOOTER --------------------------------------- */
footer ul {
  list-style: none; }
footer li {
  float: left; }
  footer li img {
    width: 2.5em;
    height: auto; }

/* MEDIA 567px */
@media (min-width: 567px) {
  .title-square-1 h3, .title-square-2 h3, .title-square-3 h3 {
    font-size: 1.8em; }

  .subnav li {
    margin-right: 2em; }

  nav ul {
    margin-top: 3em; }
  nav li {
    width: 40%; }
    nav li a {
      text-align: center; }
  nav .active a {
    background-color: #333333;
    color: white !important;
    font-weight: bold; }
  nav .portfolio-items li:nth-child(7) {
    float: left !important; }

  /* TITLE SQUARES --------------------------------------- */
  ul {
    list-style: none; }
    ul li {
      float: left; }

  li:nth-child(2) {
    padding-right: .25em; }

  li:nth-child(3) {
    padding-left: .25em; }

  .recent-work h2 {
    padding-top: .75em;
    padding-left: .5em; }
  .recent-work ul {
    padding: inherit; } }
@media (min-width: 768px) {
  /* PORTFOLIO ITEMS --------------------------------------- */
  .portfolio-items li:nth-child(7) {
    float: left !important; }

  article {
    padding-left: 2em !important; }

  .title-container {
    padding-left: 2em; }

  .photo-container {
    padding-right: 2em; } }
@media (min-width: 992px) {
  #subnav {
    margin-top: 0; }

  .portfolio-items li:nth-child(7) {
    float: left !important; }

  article {
    padding-left: 0 !important; }

  .title-container {
    padding-left: 0; }

  .photo-container {
    padding-right: 0; }

  /* PORTFOLIO ITEMS --------------------------------------- */
  .portfolio-items {
    margin-top: .75em;
    list-style: none; }

  .portfolio-items li:nth-child(3) {
    float: left !important; }

  .portfolio-items li:nth-child(5) {
    float: left !important; }

  .portfolio-items li:nth-child(9) {
    float: left !important; } }
@media (min-width: 1200px) {
  .recent-work {
    float: right;
    padding-top: 0; } }
.container-mixitup ul {
  width: 100%;
  overflow: hidden; }
.container-mixitup ul li {
  padding: .25em;
  position: relative; }
.container-mixitup .containMix .mix {
  display: none; }

/*# sourceMappingURL=style.css.map */
