
/* VARIABLES --------------------------------------- */
$dark-grey: #333333;
$pink: #ff6371;
$blue: #005489;

/* SYMANTIC STUFF --------------------------------------- */
nav{
  margin-bottom: 0em!important;

  padding:0!important;
}
footer{
  margin-top: 1em;
  height: 100%;

}
.container-screen{
  min-height: 100vh;
}

#subnav{
  margin-top: .25em;
height: 3em;
  background-color: $dark-grey;
}


/* TYPOGRAPHY --------------------------------------- */
h1{
  font-size: 1.25em;
  font-family: 'acherusgrotesque-extrabold';
  line-height: .9em;
}

h2{
  font-size: 1.25em;
  font-family: 'acherusgrotesque-extrabold';
  letter-spacing: .25em;
  margin: 0;
}

h3{
  font-size: 1.75em;
  font-family: 'acherusgrotesque-extrabold';
}

h5{
  font-size: .7em;
  font-family: 'acherusgrotesque-regular';
  line-height: .4em;
}
h6{
  font-family: baskerville;
  font-weight: bold;
}

p{
  font-family: acherusgrotesque-regular, sans-serif;
  font-size: 1em;
  line-height: 1.9em;
}

/* TITLE SQUARE --------------------------------------- */
.recent-work{
  padding: .5em;
  float: left;
  h2{
    padding: 0;

  }
  ul{
    padding: 0;
  }
  li{
    position: relative;
  }
a{
  padding: 0;
  height: 100%;
  width: 100%;
  img{
  animation-name: home-images;
  animation-duration: 1s;
}
}



.title-square-1{
  background-color: $pink;
  height: 97.75%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  width: 97.75%;

  h3{
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.25em;
  }
  h5{
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .5em;
    color: white;
    line-height: 1em;
  }
  a{
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

.title-square-2{
  background-color: $dark-grey;
  height: 97.75%;
  width: 97.75%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  h3{
    color: white;
    margin-top: .5em;
    padding-left: .5em;
    line-height: 1em;
    font-size: 1.25em;
  }
  h5{
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: 1em;
    color: white;
    line-height: 1em;
  }
  a{
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

.title-square-3{
  background-color: $blue;
  height: 97.75%;
  width: 97.75%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  h3{
    color: white;
    margin-top: .5em;
    padding: .5em;
    line-height: 1em;
    font-size: 1.25em;
  }
  h5{
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: 1em;
    color: white;
    line-height: 1em;
  }
  a{
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

li:hover {

  .title-square-1{
    opacity: 1;
}
.title-square-2{
  opacity: 1;
}
.title-square-3{
  opacity: 1;
}
}

}

/* PORTFOLIO PAGE  --------------------------------------- */
article{
  padding-left: 0;
  h2{
    padding-left: 0;
  }
  p{
    padding-left: 0;
  }
}
.title-container{
  padding-left: 0;
}
.photo-container{
  padding-right: 0;
}
.portfolio-h2{
  letter-spacing: normal;
  font-size: 2em;
}
.title-square-1{
  background-color: $pink;
  height: 97.5%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  width: 97.5%;

  h3{
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.25em;
  }
  h5{
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .25em;
    color: white;
    line-height: 1em;
  }
  a{
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

.title-square-2{
  background-color: $dark-grey;
  height: 97.5%;
  width: 97.5%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  h3{
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.5em;
  }
  h5{
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .25em;
    color: white;
    line-height: 1em;
  }
  a{
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

.title-square-3{
  background-color: $blue;
  height: 97.5%;
  width: 97.5%;
  z-index: 10;
  float: left;
  position: absolute;
  opacity: 0;
  h3{
    color: white;
    margin-top: .5em;
    padding: .1em;
    line-height: 1em;
    font-size: 1.5em;
  }
  h5{
    font-size: 1em;
    font-family: 'acherusgrotesque-regular';
    padding-left: .25em;
    color: white;
    line-height: 1em;
  }
  a{
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
}

li:hover {

  .title-square-1{
    opacity: 1;
}
.title-square-2{
  opacity: 1;
}
.title-square-3{
  opacity: 1;
}
}.image-container{
  margin-top: 1em;
  margin-bottom: 1em;
}

.video-container{
  overflow: hidden;
  height: 100%;
}

/* COLOR PALETTES --------------------------------------- */
.color-palette{
  height: 2em;
  width: 2em;
border-radius: 2em;
  float: left;
  margin-top: 1em;
  margin-right: 1em;
}

/* TEA */
#tea-grey{
  background-color: #333333;
}
#tea-light-grey{
  background-color: #b4b4b4;
}
#tea-blue{
  background-color: #0176b6;
}
#tea-light-blue{
  background-color: #7ea1cf;
}
#tea-green{
  background-color: #099e49;
}
#tea-light-green{
  background-color: #a6cba3;
}
#tea-orange{
  background-color: #f68720;
}
#tea-light-orange{
  background-color: #fcbd85;
}
#tea-red{
  background-color: #d63927;
}
#tea-light-read{
  background-color: #e69274;
}


/* NAVIGATION --------------------------------------- */
nav{
    a{
      text-align: left;
  }
  .active a{
    font-weight: bold;
  }
}
.navbar{
  background-color: white !important;
}
.navbar-toggler{
  border: none !important;
}
.subnav{
  border-top: 4px solid $dark-grey;
  margin-top: 0;
}

.subnav{
  li{
    text-align: left;
    list-style: none;
    float: left;
    margin-right: .5em;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    opacity: .75;
  }
}

.genre-indicator{
  border: 2px solid white;
  height: 1em;
  width: 1em;
  float: left;
  margin: .25em;
  border-radius: .75em;
}

#branding{
  background-color: $dark-grey;
}

#web{
  background-color: $blue;
}

#animation{
  background-color: $pink;
}

/* HOME --------------------------------------- */

.recent-work{
  h2{

    text-transform: uppercase;
  }
  ul{
    list-style: none;
    li{
      float: left;
        padding: .25em;
    }
}





}

article{
  float: left;
  h2{
    margin-top: .8em;

  }
}

/* HOME --------------------------------------- */
.portfolio-items{
  margin-top: .75em;
  list-style: none;
}

.portfolio-items li:nth-child(3){
  float: right !important;
}

.portfolio-items li:nth-child(5){
  float: right !important;
}

.portfolio-items li:nth-child(6){
  float: right !important;
}

.portfolio-items li:nth-child(7){
  float: right !important;
}
.portfolio-items li:nth-child(8){
  float: left !important;
}

.portfolio-items li:nth-child(9){
  float: right !important;
}



/* INDIVIDUAL-PIECE --------------------------------------- */

.title{
  margin-top: 1em !important;
}
.photo-container{
  margin-top: 2em;
}

/* FOOTER --------------------------------------- */
footer{
  ul{
    list-style: none;
  }
  li{
    float: left;
    img{
      width: 2.5em;
      height: auto;
    }
  }
}

/* RESUME --------------------------------------- */
.resume-h4{
  font-size: 1.25em;
}

.resume-article{
  margin-top: 1em;
  margin-bottom: 4em;
  p{
    font-family: baskerville;
  }
  ul{
    list-style: none;
  }
  li{
    padding: 0 !important;
    font-family: baskerville;
    font-weight: bold;
    margin-bottom: .5em;
  }
}

aside{
padding-left: 2em !important;
h2{
  margin-top: 2em;
}
  #aside-list{
    list-style: none;
    li{
      padding: 0;
      font-family: baskerville;
      font-weight: bold;
    }
  }
  #aside-list-2{
    list-style: none;
    margin-top: 1em;
    li{
      padding: 0;
      font-family: baskerville;
      font-weight: bold;
    }
  }
  #aside-list-3{
    list-style: none;
    margin-top: 1em;
    li{
      padding: 0;
      font-family: baskerville;
      font-weight: bold;
    }
  }
}


/* MEDIA 567px */

@media (min-width: 567px){
  .active a{
    background-color: white !important;
    color: black !important;
    font-weight: bold;
  }

  .title-square-1, .title-square-2, .title-square-3{
    h3{
      font-size: 1.8em;
    }
  }

  .subnav{
    li{
      margin-right: 2em;
    }
  }


  nav{
    ul{
      margin-top: 3em;
    }
  li{
    width: 40%;
    a{
      text-align: center !important;
    }
  }
  .active a{
    background-color: $dark-grey;
    color: white !important;
    font-weight: bold;
  }

  .portfolio-items li:nth-child(7){
    float: left !important;
  }


}



  /* TITLE SQUARES --------------------------------------- */


ul{
  list-style: none;

  li{
    float: left;
  }
}
li:nth-child(2){
padding-right: .25em;
}
li:nth-child(3){
padding-left: .25em;
}

.recent-work{
  h2{
    padding-top: .75em;
    padding-left: .5em;
  }
  ul{
    padding: inherit;
  }
}

}

@media (min-width: 768px){
  nav{
    .active a{
      background-color: white;
      color: black !important;
      font-weight: bold;
    }
    ul{
      padding-left: 2em !important;
    }
  li{
    a{
      text-align: left !important;
    }
  }


  .portfolio-items li:nth-child(7){
    float: left !important;
  }



}
.subnav{
  ul{
  padding-left: 2.75em;
}
}
  .navbar-brand{
    padding-left: 2em !important;
  }
  .recent-work{
    h2{
      padding-left: 2em;
    }
    ul{
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  .home-article{
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .recent-work{
    .title-square-1, .title-square-2, .title-square-3{
      height: 98.5%;
      width: 98.5%;
    }

    aside{
      padding-left: 0!important;
    }
  }

/* PORTFOLIO ITEMS --------------------------------------- */
.portfolio-items{
  padding-left: 2.75em;
  padding-right: 2.75em;
}
  .portfolio-items li:nth-child(7){
    float: left !important;
  }

  article{
    padding-left: 2em !important;
  }
  .title-container{
    padding-left: 2em;
  }
  .photo-container{
    padding-right: 2em;
  }
  .resume-article{
    padding-left: 2.75em !important;
    padding-right: 2.75em !important;
  }
}

@media (min-width: 992px){
  nav{
    .active a{
      background-color: $dark-grey !important;
      color: white !important;
      font-weight: bold;
    }
    ul{
      padding-left: 2em !important;
    }
  li{
a{
  text-align: center !important;
}
  }
}
  nav{
    ul{
      padding-left: 0 !important;
    }
  }
  .navbar-brand{
    padding-left: 0 !important;
  }
  #subnav{
    margin-top: 0;
  }
  .subnav{
    ul{
    padding-left: 0;
  }
  }

  .recent-work{
    h2{
      padding-left: 0;
      margin-top: 1em;
    }
    ul{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .home-article{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .portfolio-items li:nth-child(7){
    float: left !important;
  }

  article{
    padding-left: 0 !important;
  }
  .title-container{
    padding-left: 0;
  }
  .photo-container{
    padding-right: 0;
  }

/* PORTFOLIO ITEMS --------------------------------------- */

.link{
  color: $pink;
}
.link:hover{
  text-decoration: none;
}
  .portfolio-items{
    margin-top: .75em;
    list-style: none;
  }

  .portfolio-items li:nth-child(3){
    float: left !important;
  }
  .portfolio-items li:nth-child(5){
    float: left !important;
  }
  .portfolio-items li:nth-child(9){
    float: left !important;
  }
  .title-square-1, .title-square-2, .title-square-3{
    h3{
      font-size: 1.25em;
    }
  }

  .resume-article{
    padding-left: 0!important;
  }

}
@media (min-width: 1200px){

  .recent-work{
    float: right;

  }
  .title-square-1, .title-square-2, .title-square-3{
    h3{
      font-size: 1.8em;
    }
  }


}


.container-mixitup{
ul {
  width: 100%;
  overflow: hidden;
}
ul li {
padding: .25em;
position: relative;
}
.mix {

}

.containMix .mix {display: none;}
}

/* ANIMATIONS *****************************************/
